<html>
<head>
<title>Car Details</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
      body{
          background-image: url('https://tse3.mm.bing.net/th?id=OIP.UvhLfGAcfRkDWUpXJotRrgHaFj&pid=Api&P=0&w=221&h=167');
          background-size:1500px 800px;
          text-align:center;
          color:green;
      }
      label{
          display: block;
          width: 120px;
          float: left;
      }
      form{
          display:block;
          margin:auto;
          display:table;
          background-color:lightblue;
      }
</style>
</head>
<body>
    <h1>Edit <%=car.name%> Details</h1><br>
    <form action="/update-car-record<%=car._id%>/edit?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="car[name]" value="<%=car.name%>"><br><br>
        <label for="plateNo">Plate Number</label>
        <input type="number" id="plateNo" name="car[plateNo]" value="<%=car.plateNo%>"><br><br>
        <label for="colour">Colour</label>
        <input type="text" id="colour" name="car[colour]" value="<%=car.colour%>"><br><br>
        <label for="model">Model</label>
        <input type="text" id="model" name="car[model]" value="<%=car.model%>"><br><br>
        <input type="submit">
    </form><br><br>
    <div>
       <button><a href="/view-car-info">Exit</a></button>
    </div> 
</body>
</html>