<DOCTYPE html>
<html>
<head>
<title>Car Collection App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
      body{
          background-image: url('https://tse3.mm.bing.net/th?id=OIP.UvhLfGAcfRkDWUpXJotRrgHaFj&pid=Api&P=0&w=221&h=167');
          background-size:1500px 800px;
          text-align:center;
          color:black;
      }
      h1{
          color:green;
      }
      table{
          padding:5px;
          width: 800;
          background-color: gray;
      }
</style>
</head>
<body>
    <h1> List of Different Car Details</h1>
    <center><table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Plate Number</th>
                    <th>Colour</th>
                    <th>Model</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <% cars.forEach(function(car) { %>
                <tr>
                    <td><%= car.name%></td>
                    <td><%= car.plateNo%></td>
                    <td><%= car.colour%></td>
                    <td><%= car.model%></td>
                    <td><form action="/delete-car-record<%=car._id%>/?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                         </form>
                    </td>
                    <td><button><a href="/update-car-record<%=car._id%>/edit">Edit</a> </button></td>
                </tr>
                <% }); %>
            </tbody>
        </table></center><br><br>
    <div>
        <button><a href="/"> Log Out </a></button>
    </div>
</body>
</html>